/* Nothing here yet, but like eventually. */
body {
    margin: auto;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36pt;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

.page-buttons {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.project-tile {
  width: 50%;
  padding: 5px;
  border: 15px;
  border-radius: 5px;
  background-color: rgba(197, 24, 1, 0.904);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.text-body-secondary {
  --bs-text-opacity: 1;
  color: white !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: red;}
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}